<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title><%=page_title%></title>
<link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
<script src="/public/js/jquery-1.11.0.min.js"></script>
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="/public/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--start-menu-->
<script src="/public/js/simpleCart.min.js"> </script>
<link href="/public/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/public/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!--dropdown-->
<script src="/public/js/jquery.easydropdown.js"></script>			
</head>
<body> 
	<!--top-header-->
	<div class="top-header">
		<div class="container">
			<div class="top-header-main">
				<div class="col-md-6 top-header-left">
					<div class="drop">
						<div class="box">
							<select tabindex="4" class="dropdown drop">
								<option value="" class="label">Dollar :</option>
								<option value="1">Dollar</option>
								<option value="2">Euro</option>
							</select>
						</div>
						<div class="box1">
							<select tabindex="4" class="dropdown">
								<option value="" class="label">English :</option>
								<option value="1">English</option>
								<option value="2">French</option>
								<option value="3">German</option>
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 top-header-left">
					<div class="cart box_1">
						<a href="/public/checkout.html">
							 <div class="total">
								<span class="simpleCart_total"></span></div>
								<img src="/public/images/cart-1.png" alt="" />
						</a>
						<p><a href="/public/javascript:;" class="simpleCart_empty">Empty Cart</a></p>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--top-header-->
	<!--start-logo-->
	<div class="logo">
		<a href="/public/index.html"><h1>BABASTUDIO</h1></a>
	</div>
	<!--start-logo-->
	<!--bottom-header-->
	<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue"><li class="active"><a href="/public/index.html">Home</a></li>
						<li class="grid"><a href="/public/#">Men</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Shop</h4>
										<ul>
											<li><a href="/public/products.html">New Arrivals</a></li>
											<li><a href="/public/products.html">Blazers</a></li>
											<li><a href="/public/products.html">Swem Wear</a></li>
											<li><a href="/public/products.html">Accessories</a></li>
											<li><a href="/public/products.html">Handbags</a></li>
											<li><a href="/public/products.html">T-Shirts</a></li>
											<li><a href="/public/products.html">Watches</a></li>
											<li><a href="/public/products.html">My Shopping Bag</a></li>
										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Style Zone</h4>
										<ul>
											<li><a href="/public/products.html">Shoes</a></li>
											<li><a href="/public/products.html">Watches</a></li>
											<li><a href="/public/products.html">Brands</a></li>
											<li><a href="/public/products.html">Coats</a></li>
											<li><a href="/public/products.html">Accessories</a></li>
											<li><a href="/public/products.html">Trousers</a></li>
										</ul>	
									</div>
									<div class="col1 me-one">
										<h4>Popular Brands</h4>
										<ul>
											<li><a href="/public/products.html">499 Store</a></li>
											<li><a href="/public/products.html">Fastrack</a></li>
											<li><a href="/public/products.html">Casio</a></li>
											<li><a href="/public/products.html">Fossil</a></li>
											<li><a href="/public/products.html">Maxima</a></li>
											<li><a href="/public/products.html">Timex</a></li>
											<li><a href="/public/products.html">TomTom</a></li>
											<li><a href="/public/products.html">Titan</a></li>
										</ul>		
									</div>
								</div>
							</div>
						</li>
						<li class="grid"><a href="/public/#">Women</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Shop</h4>
										<ul>
											<li><a href="/public/products.html">New Arrivals</a></li>
											<li><a href="/public/products.html">Blazers</a></li>
											<li><a href="/public/products.html">Swem Wear</a></li>
											<li><a href="/public/products.html">Accessories</a></li>
											<li><a href="/public/products.html">Handbags</a></li>
											<li><a href="/public/products.html">T-Shirts</a></li>
											<li><a href="/public/products.html">Watches</a></li>
											<li><a href="/public/products.html">My Shopping Bag</a></li>
										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Style Zone</h4>
										<ul>
											<li><a href="/public/products.html">Shoes</a></li>
											<li><a href="/public/products.html">Watches</a></li>
											<li><a href="/public/products.html">Brands</a></li>
											<li><a href="/public/products.html">Coats</a></li>
											<li><a href="/public/products.html">Accessories</a></li>
											<li><a href="/public/products.html">Trousers</a></li>
										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Popular Brands</h4>
										<ul>
											<li><a href="/public/products.html">499 Store</a></li>
											<li><a href="/public/products.html">Fastrack</a></li>
											<li><a href="/public/products.html">Casio</a></li>
											<li><a href="/public/products.html">Fossil</a></li>
											<li><a href="/public/products.html">Maxima</a></li>
											<li><a href="/public/products.html">Timex</a></li>
											<li><a href="/public/products.html">TomTom</a></li>
											<li><a href="/public/products.html">Titan</a></li>
										</ul>	
									</div>
								</div>
							</div>
						</li>
						<li class="grid"><a href="/public/#">Kids</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Shop</h4>
										<ul>
											<li><a href="/public/products.html">New Arrivals</a></li>
											<li><a href="/public/products.html">Blazers</a></li>
											<li><a href="/public/products.html">Swem Wear</a></li>
											<li><a href="/public/products.html">Accessories</a></li>
											<li><a href="/public/products.html">Handbags</a></li>
											<li><a href="/public/products.html">T-Shirts</a></li>
											<li><a href="/public/products.html">Watches</a></li>
											<li><a href="/public/products.html">My Shopping Bag</a></li>
										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Style Zone</h4>
										<ul>
											<li><a href="/public/products.html">Shoes</a></li>
											<li><a href="/public/products.html">Watches</a></li>
											<li><a href="/public/products.html">Brands</a></li>
											<li><a href="/public/products.html">Coats</a></li>
											<li><a href="/public/products.html">Accessories</a></li>
											<li><a href="/public/products.html">Trousers</a></li>
										</ul>	
									</div>
									<div class="col1 me-one">
										<h4>Popular Brands</h4>
										<ul>
											<li><a href="/public/products.html">499 Store</a></li>
											<li><a href="/public/products.html">Fastrack</a></li>
											<li><a href="/public/products.html">Casio</a></li>
											<li><a href="/public/products.html">Fossil</a></li>
											<li><a href="/public/products.html">Maxima</a></li>
											<li><a href="/public/products.html">Timex</a></li>
											<li><a href="/public/products.html">TomTom</a></li>
											<li><a href="/public/products.html">Titan</a></li>
										</ul>	
									</div>
								</div>
							</div>
						</li>
						<li class="grid"><a href="/public/typo.html">Blog</a>
						</li>
						<li class="grid"><a href="/public/contact.html">Contact</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 header-right"> 
				<div class="search-bar">
					<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
					<input type="submit" value="">
				</div>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--bottom-header-->
	<!--banner-starts-->
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<img src="/public/images/bnr-1.jpg" alt=""/>
				</li>
				<li>
					<img src="/public/images/bnr-2.jpg" alt=""/>
				</li>
				<li>
					<img src="/public/images/bnr-3.jpg" alt=""/>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
				<script src="/public/js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
	<!--about-starts-->
	<div class="about"> 
		<div class="container">
			<div class="about-top grid-1">
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="/public/images/abt-1.jpg" alt=""/>
						<figcaption>
							<h2>Nulla maximus nunc</h2>
							<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
						</figcaption>			
					</figure>
				</div>
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="/public/images/abt-2.jpg" alt=""/>
						<figcaption>
							<h4>Mauris erat augue</h4>
							<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
						</figcaption>			
					</figure>
				</div>
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="/public/images/abt-3.jpg" alt=""/>
						<figcaption>
							<h4>Cras elit mauris</h4>
							<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
						</figcaption>			
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--about-end-->
	<!--product-starts-->
	<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					<%
						if (data.length) {
							for (var i=0; i < data.length; i++) {
					%>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/ecommerce-modul6/products_detail/<%=data[i].id_product%>" class="mask"><img class="img-responsive zoom-img" src="/public/images/<%=data[i].gambar_produk%>" alt="" /></a>
							<div class="product-bottom">
								<h3><%=data[i].nama_produk%></h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="/public/#"><i></i></a> <span class=" item_price">Rp. <%=data[i].harga_product%></span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<%
							}
						}
					%>

					<!-- <div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/public/single.html" class="mask"><img class="img-responsive zoom-img" src="/public/images/p-2.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="/public/#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/public/single.html" class="mask"><img class="img-responsive zoom-img" src="/public/images/p-3.png"  alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="/public/#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/public/single.html" class="mask"><img class="img-responsive zoom-img" src="/public/images/p-4.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="/public/#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div> -->
					<div class="clearfix"></div>
				</div>
				<!-- <div class="product-one">
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/public/single.html" class="mask"><img class="img-responsive zoom-img" src="/public/images/p-5.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="/public/#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/public/single.html" class="mask"><img class="img-responsive zoom-img" src="/public/images/p-6.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="/public/#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/public/single.html" class="mask"><img class="img-responsive zoom-img" src="/public/images/p-7.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="/public/#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="/public/single.html" class="mask"><img class="img-responsive zoom-img" src="/public/images/p-8.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="/public/#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>					 -->
			</div>
		</div>
	</div>
	<!--product-end-->
	<!--information-starts-->
	<div class="information">
		<div class="container">
			<div class="infor-top">
				<div class="col-md-3 infor-left">
					<h3>Follow Us</h3>
					<ul>
						<li><a href="/public/#"><span class="fb"></span><h6>Facebook</h6></a></li>
						<li><a href="/public/#"><span class="twit"></span><h6>Twitter</h6></a></li>
						<li><a href="/public/#"><span class="google"></span><h6>Google+</h6></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Information</h3>
					<ul>
						<li><a href="/public/#"><p>Specials</p></a></li>
						<li><a href="/public/#"><p>New Products</p></a></li>
						<li><a href="/public/#"><p>Our Stores</p></a></li>
						<li><a href="/public/contact.html"><p>Contact Us</p></a></li>
						<li><a href="/public/#"><p>Top Sellers</p></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>My Account</h3>
					<ul>
						<li><a href="/public/account.html"><p>My Account</p></a></li>
						<li><a href="/public/#"><p>My Credit slips</p></a></li>
						<li><a href="/public/#"><p>My Merchandise returns</p></a></li>
						<li><a href="/public/#"><p>My Personal info</p></a></li>
						<li><a href="/public/#"><p>My Addresses</p></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Store Information</h3>
					<h4>The company name,
						<span>Lorem ipsum dolor,</span>
						Glasglow Dr 40 Fe 72.</h4>
					<h5>+955 123 4567</h5>	
					<p><a href="/public/mailto:example@email.com">contact@example.com</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--information-end-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
					<form>
						<input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="col-md-6 footer-right">					
					<p>© 2015 Luxury Watches. All Rights Reserved | Design by  <a href="/public/http://w3layouts.com/" target="_blank">W3layouts</a> </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->	
</body>
</html>